.logout{    color: white;
    margin-right:10%;
    margin-left:10%;
    background: transparent;
    
    font-weight: bold;
    font-size:15px;

}
.admin-name{
    margin-top:10px;
    margin-right:10px;
}