<div class="left-sidebar-pro">
  <nav id="sidebar" class="">
      <div class="sidebar-header">
          <a href="index.html"><img class="main-logo" src="img/logo/logo.png" alt="" /></a>
          <strong><a href="index.html"><img src="img/logo/logosn.png" alt="" /></a></strong>
      </div>
      <div class="left-custom-menu-adp-wrap comment-scrollbar" style="margin-top:40%;">
          <nav class="sidebar-nav left-sidebar-menu-pro">
              <ul class="metismenu" id="menu1">
            
                 
                 
                  
                 
                  
                  <li id="removable">
                      
                      <ul class="submenu-angle page-mini-nb-dp" aria-expanded="false">
                            <li style="border-bottom: 1px solid #0c4fa0;" ><a title="Total User" routerLink="/index"><span class="mini-sub-pro">Dashboard</span></a></li>
                            
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/user"><span class="mini-sub-pro">User</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/unverified_user"><span class="mini-sub-pro">Unverified User</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/login"><span class="mini-sub-pro">Login</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/orders"><span class="mini-sub-pro">Order</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/pending_orders"><span class="mini-sub-pro">Pending Order</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/drivers"><span class="mini-sub-pro">Drivers</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/addnewuser"><span class="mini-sub-pro">Add User</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/transaction"><span class="mini-sub-pro">Transaction Id</span></a></li>
                          <li style="border-bottom: 1px solid #0c4fa0;"><a title="Total User" routerLink="/unverified_driver"><span class="mini-sub-pro">Unverified Driver</span></a></li>
                          <!-- <button type="button" (click)="addItem(0)">  Unaccepted </button> -->
                          
                          
                      </ul>
                  </li>
              </ul>
          </nav>
      </div>
  </nav>
</div>